body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2779a7;
}

header {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 5px 5px 10px #000;
}

header h1 {
    font-size: 3em;
}

nav {
    padding: 10px;
    margin: 10px;
    background-color: #49c5b6;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #000;
}

figure {
    float: right;
    margin: 10px;
}

figcaption {
    text-align: center;
}

img {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
}

main {
    margin: 20px;
    background-color: #2779a7;
}

aside {
    border: 2px solid #000;
    padding: 10px;
}

details {
    margin: 10px;
    background-color: #49c5b6;
}

form {
    margin: 10px;
    background-color: #2779a7;
}

footer {
    text-align: center;
    font-size: 0.8em;
    background-color: #000;
    color: #fff;
}
